.cidades {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.cidades__individual {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr, 2fr, 1fr;
  grid-template-areas:
    "titulo artista"
    "foto descricao"
    "nft descricao";
  gap: 48px 40px;
  margin: 0 auto;
  width: 984px;
}

.cidades__titulo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #ffffff;
  grid-area: titulo;
}

.cidades__foto {
  width: 460px;
  height: 460px;
  grid-area: foto;
}
.cidades__foto:hover {
  background: #000000;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.cidades__card-artista {
  grid-area: artista;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
}
.cidades__artista {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
}

.cidades__artista-nome {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}

.cidades__card-descricao {
  grid-area: descricao;
  display: flex;
  flex-direction: column;

  gap: 25px;
}
.cidades__descricao {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #ffffff;
}
.cidades__nft {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  gap: 10px;
  width: 356.08px;
  height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  grid-area: nft;
}
