.cidades {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.cidades__individual {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr, 2fr, 1fr;
  grid-template-areas:
    "titulo artista"
    "foto descricao"
    "nft descricao";
  gap: 48px 40px;
  margin: 0 auto;
  width: 100%;
}

.cidades__titulo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #ffffff;
  grid-area: titulo;
}

.cidades__foto {
  width: 460px;
  height: 460px;
  grid-area: foto;
}
.cidades__foto:hover {
  background: #000000;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.cidades__card-artista {
  grid-area: artista;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
}
.cidades__artista {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
}

.cidades__artista-nome {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}

.cidades__card-descricao {
  grid-area: descricao;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cidades__descricao {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #ffffff;
}
.cidades__nft {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  gap: 10px;
  width: 356.08px;
  height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  grid-area: nft;
}
.cidades__nft:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/* REsponsividade */

@media screen and (max-width: 769px) {
  .cidades {
    gap: 72px;
  }
  .cidades__individual {
    gap: 48px 28px;
    margin: 0 auto;
    width: 720px;
  }
  .cidades__titulo {
    font-size: 42px;
    line-height: 1.1;
  }
  .cidades__foto {
    width: 340px;
    height: 340px;
  }

  .cidades__descricao {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 320px) {
  .cidades {
    gap: 30px;
    width: 288px;
    margin: 0 auto;
  }
  .cidades__individual {
    display: flex;
    flex-direction: column;
    max-width: 288px;
    gap: 30px;
  }
  .cidades__titulo {
    font-size: 32px;
    line-height: 1.09;
    order: 1;
  }
  .cidades__card-artista {
    order: 2;
    align-items: flex-start;
  }
  .cidades__foto {
    width: 320px;
    height: 320px;
    order: 3;
  }
  .cidades__card-descricao {
    max-width: 288px;
    order: 4;
  }
  .cidades__descricao {
    font-size: 16px;
    line-height: 163%;
  }
  .cidades__nft {
    width: 288px;
    height: 48px;
    font-size: 14px;
    line-height: 1.2;
    /* identical to box height */
    text-align: center;
  }
}
