.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

.header__title {
  max-width: 720px;
  margin: 90px auto 32px auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.header__subtitle {
  margin-bottom: 74px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.header__cover {
  margin-top: 64px;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  max-width: 254px;
  max-height: 70px;
  margin: 0 auto;
}

@media screen and (max-width: 769px) {
  .header__title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 40px;
    line-height: 44px;
  }
  .header__subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}
