.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.principal__titulo {
  max-width: 793px;
  max-height: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-bottom: 32px;
}

.principal__paragrafo {
  max-width: 720px;
  max-height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  padding-bottom: 64px;
}

.principal__imagem {
  width: 984px;
  height: 615px;
}

/* Para tablet */

@media (min-width: 501px) and (max-width: 768px) {
  .principal__titulo {
    max-width: 720px;
    height: 158px;
    font-size: 75px;
    line-height: 1.05;
    text-align: center;
    padding-bottom: 25px;
  }

  .principal__paragrafo {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 30px;
  }

  .principal__imagem {
    width: 768px;
    height: 468px;
  }
}

/* celular */

@media (max-width: 500px) {
  .principal__titulo {
    max-width: 288px;
    max-height: 88px;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 16px;
  }
  .principal__paragrafo {
    max-width: 288px;
    max-height: 40px;

    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 40px;
  }
  .principal__imagem {
    width: 320px;
    height: 200px;
  }
}
